<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}AFSY - Symfony 3.4 and WebSockets{% endblock title %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
  {% endblock stylesheets %}
</head>
<body>
  {% block body %}
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  {% endblock body %}
  {% block javascripts %}{% endblock javascripts %}
</body>
</html>
