{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
      <h1>AFSY - WebSockets and Symfony</h1>
      <div id="ws-content-receiver"></div>
      <input type="text" id="ws-content-to-send" />
      <button id="ws-send-content">Send</button>
    </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    // Create WebSocket url (used in sf-websocket.js)
    var wsUrl = '{{ ws_url }}';
  </script>
  <script type="text/javascript" src="{{ asset('bundles/app/js/sf-websocket.js') }}"></script>
{% endblock %}
