// Black & White
$black: #000;
$grey-lighter: #e0e0e0;
$grey-lightest: #f0f0f0;
$white: #fff;

// Main colors
$blue-darkest: #18202f;
$blue-darker: #262e3e;
$blue-dark: #3a465b;
$blue: #495367;
$blue-lighter: #8190b0;
$blue-lightest: #e1ebff;
$green: #7ed321;
$red: #d0021b;

