.christmas-icon {
  @extend .icon;

  width: 100%;
  height: 80px;
  background: center center no-repeat;

  &.ci-ball {
    background-image: url('/images/icons/christmas-ball.png');
  }

  &.ci-star {
    background-image: url('/images/icons/christmas-star.png');
  }

  &.ci-tree {
    background-image: url('/images/icons/christmas-tree.png');
  }

  &.ci-rocket {
    background-image: url('/images/icons/rocket.png');
  }

  &.ci-rudolph {
    background-image: url('/images/icons/rudolph.png');
  }
}
