.christmas-ribbon-wrapper {
  width: 1140px;
  max-width: 100%;
  height: $xmas-ribbon-height;
  position: absolute;
  top: 140px;
  z-index: 3;

  .christmas-ribbon {
    padding: 2px 0;
    background-color: #a00;
    z-index: 4;
    pointer-events: auto;

    a {
      &,
      &:hover {
        font-size: 13px;
        font-weight: 700;
        color: $white;
        text-decoration: none;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
        text-align: center;
        width: 100%;
        line-height: 20px;
        display: inline-block;
        padding: 2px 0;
        border-width: 1px 0;
        border-style: dashed;
        border-color: $transparent-white;
      }
    }
  }
}
