body {
  background: $black;
}

.chat-container {
  width: 1140px;
  margin: 30px auto;
  display: flex;
  flex-flow: row;
  background: $grey-lightest;
}

.afsy-logo {
  @extend .icon;

  width: 100%;
  height: 115px;
  background: url('/images/icons/afsy-logo.png') center center no-repeat;
  border-bottom: 1px solid $blue;
}