body {
  background: $body-background-color;
  font-family: $default-font;
  font-size: 14px;
}

.body-container {
  max-width: 1140px;
  height: 100%;
  margin: 30px auto;
  display: flex;
  flex-flow: column;
  justify-items: center;
}

.chat-container {
  display: flex;
  flex-flow: row;
  background: $main-container-background-color;
}

.chat-sidebar {
  display: flex;
  flex-flow: row;
}

.main-content {
  flex-grow: 1;
}

.chat-footer {
  margin: 10px 0 50px;
  text-align: center;
  color: $footer-color;
  font-size: 11px;

  a {
    color: $footer-link-color;
  }
}
