body {
  background: $black;
}

.chat-container {
  width: 1140px;
  margin: 30px auto;
  display: flex;
  flex-flow: row;
  background: $grey-lightest;
}

.chat-sidebar {
  display: flex;
  flex-flow: row;
}