// Chat Left Sidebar
.chat-left-sidebar {
  width: 115px;
  background: $left-sidebar-background-color;

  h2 {
    height: 115px;
  }

  .afsy-logo {
    @extend .icon;

    width: 100%;
    height: 115px;
    background: url($icons-folder + 'afsy-logo.png') center center no-repeat;
    border-bottom: $top-border-width solid $sidebar-top-border-color;
  }

  ul {
    width: 100%;
    margin: (1px + $xmas-ribbon-height) 0 0;
    padding: 0;

    li {
      height: 80px;

      &.active,
      &:hover {
        background: $right-sidebar-background-color;
      }
    }
  }

  a {
    color: $left-sidebar-link-color;
  }
}
