.user-menu {
  min-width: 130px;
  min-height: 14px;
  display: flex;
  align-items: center;
  margin: -16px 0 0;
  padding: 15px;
  line-height: 1.5em;
  border: 1px solid $grey-lighter;
  border-radius: 5px;
  background: $white;

  .connection-status {
    width: 7px;
    height: 7px;
    margin: 0 7px 0 0;
    display: inline-block;
    border-radius: 50%;
    background: $red;

    &.active {
      background: $green;
    }
  }

  .username {
    max-width: 95%;
    display: inline-block;
  }
}

.main-content-header {
  width: calc(100% - 100px);
  height: 15px;
  padding: 50px;
  border-bottom: 1px solid $blue;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .warning {
    color: $blue-darker;

    strong {
      font-weight: bold;
    }
  }
}
