.chat-messages-list {
  height: 410px;
  padding: 50px;
  overflow: auto;

  li {
    margin: 0 0 20px;
    padding: 20px;
    color: $blue-darkest;
    background: $white;

    &.mine {
      color: $grey-lightest;
      background: $blue-darker;
    }

    &.success {
      background: $green;
    }

    &.error {
      background: $red;
    }

    &.disabled {
      color: $blue;
      background: $grey-lighter;
    }
  }
}