.message-form {
  display: flex;
  background: $form-background-color;
  border-top: 1px solid $form-border-top-color;

  label {
    display: none;
  }

  input {
    flex-grow: 1;
    padding: 50px;
    font-size: 14px;
    color: $form-input-color;
    outline: 0;
    border: 0;

    &.disabled {
      color: $error-color;
    }
  }

  button {
    width: 60px;
    height: 60px;
    margin: 30px 50px 30px 0;
    color: $form-button-color;
    border: 0;
    background: $form-button-background-color url($icons-folder + 'paper-plane.png') center center no-repeat;
    font: 0/0 a;
    border-radius: 5px;
    cursor: pointer;

    &.disabled {
      background-color: $error-color;
    }
  }
}
