// General
$body-background-color: $black;
$error-color: $red;
$success-color: $lightgreen;

// Main content
$main-container-background-color: $grey-lightest;
$top-border-width: 1px;
$xmas-ribbon-height: 0;

// Main content - Header
$main-content-header-color: $blue-darker;
$main-content-header-border-color: $blue;
$user-menu-background-color: $white;
$user-menu-border-color: $grey-lighter;

// Main content - Messages
$default-message-color: $blue-darkest;
$default-message-background-color: $white;
$my-message-color: $grey-lightest;
$my-message-background-color: $blue-darker;
$disabled-message-color: $blue;
$disabled-message-background-color: $grey-lighter;
$success-message-color: $default-message-color;
$error-message-color: $default-message-color;

// Main content - Form
$form-border-top-color: $blue-lightest;
$form-background-color: $white;
$form-button-color: $white;
$form-button-background-color: $blue-darker;
$form-input-color: $form-button-background-color;

// Sidebar
$sidebar-top-border-color: $blue;

// Sidebar - Left
$left-sidebar-background-color: $blue-darkest;
$left-sidebar-link-color: $blue;

// Sidebar - Right
$main-title-color: $blue-lightest;
$right-sidebar-background-color: $blue-darker;
$default-channel-color: $blue-lighter;
$selected-channel-color: $left-sidebar-background-color;
$selected-channel-background-color: $main-container-background-color;
$add-channel-color: $white;
$add-channel-background-color: $blue-dark;

// Footer
$footer-color: $blue-dark;
$footer-link-color: $blue;
