{% extends 'base.html.twig' %}

{% block body %}
  <div class="chat-container">
    <aside class="chat-sidebar">
      <nav class="chat-left-sidebar">
        <h2>
          <a href="https://www.afsy.com" class="afsy-logo">AFSY</a>
        </h2>
        <ul>
          <li><a href="#" class="christmas-icon ci-tree">Advent calendar</a></li>
          <li><a href="#" class="christmas-icon ci-ball">Article #21</a></li>
          <li class="active"><a href="#" class="christmas-icon ci-rudolph">Chat</a></li>
          <li><a href="#" class="christmas-icon ci-star">GitHub</a></li>
          <li><a href="#" class="christmas-icon ci-rocket">Heroku</a></li>
        </ul>
      </nav>
      <nav class="chat-right-sidebar">
        <h1>AFSY Chat</h1>
        <ul class="channels-list">
          <li class="active">
            <a href="#general">#general</a>
          </li>
          <li>
            <a href="#afsy">#afsy</a>
          </li>
          <li>
            <a href="#symfony">#symfony</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
{% endblock %}

